<template>
  <app-layout title="Dashboard">
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">Dashboard</h2>
    </template>

    <div class="py-12">
      <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
        <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">           
          <HeaderWithFilters/>
          <LogsTemperatures :data="logs"/>
        </div>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";
import LogsTemperatures from "@/Custom/LogsTemperatures.vue";
import HeaderWithFilters from "@/Custom/HeaderWithFilters.vue";

export default {
  components: {
    AppLayout,
    LogsTemperatures,
    HeaderWithFilters
  },

  props:{
      logs:Array
  }
};
</script>
