<template>
  <div class="bg-white">
    <div
      class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:py-4 lg:px-8 lg:flex lg:items-center lg:justify-between"
    >
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">
        <span class="block text-indigo-600">Login Temperatures</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <button
            @click="orderHottestFirst()"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-red-600 hover:bg-red-700"
          >Hottest First</button>
        </div>
        <div class="ml-3 inline-flex rounded-md shadow">
          <button
            @click="resetOrder()"
            class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md bg-indigo-500 text-white hover:bg-indigo-700"
          >Reset Order</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      params: {
        order: null
      }
    };
  },

  watch: {
    params: {
      handler() {
        let params = this.params;

        Object.keys(params).forEach(key => {
          if (params[key] == "") {
            delete params[key];
          }
        });

        this.$inertia.get(this.route("dashboard"), params, {
          replace: true,
          preserveSate: true
        });
      },
      deep: true
    }
  },
  methods: {
    orderHottestFirst() {
      if (this.params.order != "yes") {
        this.params.order = "yes";
      }
    },

    resetOrder() {
      if (this.params.order != "") {
        this.params.order = "";
      }
    }
  }
};
</script>
