<template>
  <div>
    <div class="bg-gray-200 bg-opacity-25 grid grid-cols-1 md:grid-cols-2 border-t border-gray-200">
      <div class="p-6">
        <div class="flex items-center">
          <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">{{data[0].name}}</div>
        </div>

        <div class="ml-4">
          <div class="mt-2 text-sm text-gray-500" v-if="data && data[0]">
            <div
              class="bg-white border-t border-gray-200 py-2 px-2"
              v-for="(item,index) in data[0].logs.data"
              :key="index"
            >
              <span class="px-3">{{item.created_at}}</span>
              <span v-if="item.celsius" class="px-3">{{item.celsius}}&#8451;</span>
              <span v-if="item.fahrenheit" class="px-3">{{item.fahrenheit}}&#8457;</span>
            </div>
          </div>
        </div>
      </div>

      <div class="p-6 border-t border-gray-200 md:border-t-0 md:border-l">
        <div class="flex items-center">
          <div class="ml-4 text-lg text-gray-600 leading-7 font-semibold">{{data[1].name}}</div>
        </div>

        <div class="ml-4">
          <div class="mt-2 text-sm text-gray-500" v-if="data && data[1]">
            <div
              class="bg-white border-t border-gray-200 py-2 px-2"
              v-for="(item,index) in data[1].logs.data"
              :key="index"
            >
              <span class="px-3">{{item.created_at}}</span>
              <span v-if="item.celsius" class="px-3">{{item.celsius}}&#8451;</span>
              <span v-if="item.fahrenheit" class="px-3">{{item.fahrenheit}}&#8457;</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import JetApplicationLogo from "@/Jetstream/ApplicationLogo.vue";

export default {
  components: {
    JetApplicationLogo
  },
  props: {
    data: Array
  } 
};
</script>
